name: Release

on:
  push:
    tags: [ 'v*' ]

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        id: install-deps
        run:
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

  release:
    name: Publish
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        id: install-deps
        run:
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build HTML
        id: build
        run:
          sphinx-build -b html source build

      - name: Publish to GitHub Pages
        id: publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build
          cname: docs.alerta.io

      - uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
